<li ng-controller="WorkerNodeCtrl" class="list-group-item" ng-class="$ctrl.visible?'d-block':'d-none'">
    <div>
        <a class="btn" ng-href="#!/worker/item/{{$ctrl.id}}">
            <span>ID: {{$ctrl.id}}</span>
            <span>Name: {{$ctrl.name}}</span>
        </a>
        <a ng-href="#!/organization/item/{{$ctrl.org_id}}" class="btn">Organization: {{$ctrl.org_name}}</a>
       <button class="btn" ng-hide="$ctrl.childrenVisible" ng-click="$ctrl.unfold($event)">
           <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg" >
               <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
           </svg>
       </button>
       <button class="btn" ng-hide="!$ctrl.childrenVisible" ng-click="$ctrl.unfold($event)">
           <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
           </svg>
       </button>
    </div>
    <ul class="list-group" ng-class="$ctrl.childrenVisible?'d-block':'d-none'">
        <worker-node-component  node="child" ng-repeat="child in $ctrl.children" visible="$ctrl.childrenVisible"></worker-node-component>
    </ul>
</li>