<div ng-controller="OrganizationListCtrl">
    <input ng-model="$ctrl.searchString" >
    <a class="btn" ng-href="#!/organization/list?search={{$ctrl.searchString}}">Искать</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Количество сотрудников</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="organization in $ctrl.organizationList">
                <th scope="row">{{organization.id}}</th>
                <td>{{organization.name}}</td>
                <td>{{organization.count}}</td>
            </tr>
        </tbody>
    </table>
</div>