<div ng-controller="OrganizationListCtrl">
    <input ng-model="$ctrl.params.searchString" >
    <a class="btn" ng-href="#!/organization/list?search={{$ctrl.params.searchString}}">Искать</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Количество сотрудников</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="organization in $ctrl.organizationList">
                <th scope="row">{{organization.id}}</th>
                <td>{{organization.name}}</td>
                <td>{{organization.count}}</td>
            </tr>
        </tbody>
    </table>
    <p>Всего записей: {{$ctrl.total}}</p>
    <ul class="pagination">
        <li class="page-item" ng-class="$ctrl.pageNum==1?'disabled':''">
          <a class="page-link" ng-href="#!/organization/list?pageNum={{$ctrl.pageNum-1}}&pageSize{{$ctrl.pageSize}}&search={{$ctrl.searchString}}" 
          tabindex="-1">Предыдущая</a>
        </li>
        <li class="page-item" 
          ng-repeat="x in [].constructor($ctrl.pageShowCnt) track by $index"
          ng-class="$index+1==$ctrl.pageNum?'active':''">
          <a class="page-link" ng-href="#!/organization/list?pageNum={{$index+1}}&pageSize{{$ctrl.pageSize}}&search={{$ctrl.searchString}}">
            {{$index+1}}</a>
        </li>
        <li class="page-item" ng-class="$ctrl.pageNum==$ctrl.pageShowCnt?'disabled':''">
          <a class="page-link" ng-href="#!/organization/list?pageNum={{$ctrl.pageNum-0+1}}&pageSize{{$ctrl.pageSize}}&search={{$ctrl.searchString}}">
            Следующая</a>
        </li>
      </ul>
</div>