<div ng-controller="OrganizationListCtrl">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Название</span>
    </div>
    <input class="form-control" ng-model="$ctrl.searchString" >
    <a class="btn btn-primary form-control" ng-href="#!/organization/list?search={{$ctrl.searchString}}">Искать</a>
  </div>
  <a class="btn btn-primary" ng-href="#!/organization/item">Создать</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Количество сотрудников</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="organization in $ctrl.organizationList">
                <th scope="row"><a class="btn" ng-href="#!/organization/item/{{organization.id}}">{{organization.id}}</a></th>
                <td><a class="btn" ng-href="#!/organization/item/{{organization.id}}">{{organization.name}}</a></td>
                <td><a class="btn" ng-href="#!/organization/item/{{organization.id}}">{{organization.count}}</a></td>
            </tr>
        </tbody>
    </table>
    <p>Всего записей: {{$ctrl.total}}</p>
    <ul class="pagination">
        <li class="page-item" ng-class="$ctrl.page==1?'disabled':''">
          <a class="page-link" ng-href="#!/organization/list?page={{$ctrl.page-1}}&pageSize{{$ctrl.pageSize}}&search={{$ctrl.searchName}}" 
          tabindex="-1">Предыдущая</a>
        </li>
        <li class="page-item" 
          ng-repeat="x in $ctrl.pageShowCnt track by $index"
          ng-class="$index+1==$ctrl.page?'active':''">
          <a class="page-link" ng-href="#!/organization/list?page={{$index+1}}&pageSize={{$ctrl.pageSize}}&search={{$ctrl.searchName}}">
            {{$index+1}}</a>
        </li>
        <li class="page-item" ng-class="$ctrl.page==$ctrl.pageShowCnt.length?'disabled':''">
          <a class="page-link" ng-href="#!/organization/list?page={{$ctrl.page-0+1}}&pageSize{{$ctrl.pageSize}}&search={{$ctrl.searchName}}">
            Следующая</a>
        </li>
      </ul>
</div>