<div ng-controller="OrganizationItemCtrl">
    <form novalidate class="simple-form">
        <div class="form-group">
            <label>Название:</label>
            <input type="text" ng-model="$ctrl.organization.name" class="form-control" placeholder="ООО Тест"/>
        </div>
        <label>Головная организация:</label>
        <div class="form-group"> <!--TODO: OrganizationSearch must be a separate component-->
                <input type="text" ng-model="$ctrl.searchName" class="form-control" ng-change="$ctrl.load()" ng-focus="$ctrl.searchNameFocus()" 
                placeholder="Нет"/>
                <ol ng-hide="!$ctrl.showList" class="list-group">
                    <li ng-repeat="(id, name) in organizationList" 
                        class="list-group-item" 
                        ng-click="$ctrl.select(id)"
                        ng-class="id === $ctrl.organization.head_id ? 'active':''">{{name}}</li>
                </ol>           
        </div>
        <button class="btn btn-primary" ng-hide="$ctrl.new" ng-click="$ctrl.create()">Создать</button>
        <button class="btn btn-primary"  ng-hide="!$ctrl.new">Обновить</button>
        <button class="btn btn-danger"  ng-hide="!$ctrl.new">Удалить</button>
    </form>
</div>