<div ng-controller="OrganizationItemCtrl">
    <form novalidate class="simple-form">
        <div class="form-group">
            <label>Название:</label>
            <input type="text" ng-model="$ctrl.organization.orgName" class="form-control" placeholder="ООО Тест"/>
        </div>
        <div class="form-group"> <!--TODO: OrganizationSearch must be a separate component-->
            <label>Головная организация:</label>
            <div class="dropdown" >
                <input type="text" ng-model="$ctrl.searchName" ng-change="$ctrl.load()" data-toggle="dropdown" ng-focus="$ctrl.searchNameFocus()"/>
                <div class="dropdown-menu">
                    <button class="dropdown-item">Нет</button>
                    <button class="dropdown-item" ng-repeat="(id, name) in organizationList" ng-click="$ctrl.select(id)">{{name}}</button>
                </div>
            </div>
           
        </div>
        <button class="btn btn-primary" ng-hide="$ctrl.new">Создать</button>
        <button class="btn btn-primary"  ng-hide="!$ctrl.new">Обновить</button>
        <button class="btn btn-danger"  ng-hide="!$ctrl.new">Удалить</button>
    </form>
</div>