<div ng-controller="WorkerListCtrl">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Имя</span>
    </div>
    <input class="form-control" ng-model="$ctrl.searchName" >
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Название организации</span>
    </div>
    <input class="form-control" ng-model="$ctrl.searchOrgName">
    <a class="btn btn-primary form-control" ng-href="#!/worker/list?search={{$ctrl.searchName}}&searchOrg={{$ctrl.searchOrgName}}">Искать</a>
  </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Название организации</th>
                <th scope="col">Руководитель</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="worker in $ctrl.workerList">
                <th scope="row"><a class="btn" ng-href="#!/worker/item/{{worker.id}}">{{worker.id}}</a></th>
                <td><a class="btn" ng-href="#!/worker/item/{{worker.id}}">{{worker.name}}</a></td>
                <td><a class="btn" ng-href="#!/organization/item/{{worker.org_id}}">{{worker.org_name}}</a></td>
                <td><a class="btn" ng-href="#!/worker/item/{{worker.head_id}}">{{worker.head_name}}</a></td>
            </tr>
        </tbody>
    </table>
    <p>Всего записей: {{$ctrl.total}}</p>
    <ul class="pagination">
        <li class="page-item" ng-class="$ctrl.page==1?'disabled':''">
          <a class="page-link" ng-href="#!/worker/list?page={{$ctrl.page-1}}&pageSize{{$ctrl.pageSize}}&search={{$ctrl.searchName}}" 
          tabindex="-1">Предыдущая</a>
        </li>
        <li class="page-item" 
          ng-repeat="x in $ctrl.pageShowCnt track by $index"
          ng-class="$index+1==$ctrl.page?'active':''">
          <a class="page-link" ng-href="#!/worker/list?page={{$index+1}}&pageSize={{$ctrl.pageSize}}&search={{$ctrl.searchName}}">
            {{$index+1}}</a>
        </li>
        <li class="page-item" ng-class="$ctrl.page==$ctrl.pageShowCnt.length?'disabled':''">
          <a class="page-link" ng-href="#!/worker/list?page={{$ctrl.page-0+1}}&pageSize{{$ctrl.pageSize}}&search={{$ctrl.searchName}}">
            Следующая</a>
        </li>
      </ul>
</div>